* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  height: 100;
  background: url('../images/aditya-chinchure-494048-unsplash.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #login, #loggedin {
  display: none;
} */

h1 {
  color: yellow;
  font-size: 40px;
}

/* ////////////////////////////////////////////////////////////// */

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#shows {
  padding-bottom: 50px;
}

.nav-div {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#social-media-icon {
  height: 20px;
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: unset;
  flex: unset;
}

#soundcheck {
  text-align: center;
  font-family: 'Monoton', cursive;
  margin-bottom: 12px;
}

#sign-in {
  text-align: center;
  justify-content: center;
  background: rgba(215, 218, 244, 0.8);
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
}

#artist-search-form {
  text-align: center;
  justify-content: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.show-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  white-space: normal;
}

#loading {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: blue;
  border-radius: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  animation: round 2s linear infinite;
}

@keyframes round {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@media only screen and (max-width: 768px) {
  #add-artist {
    margin-top: 10px;
  }
  #clear {
    margin-top: 10px;
  }
}