* {
  box-sizing: border-box;
}


html {
  min-height: 100%;
  width: 100%;
}

body {
  background: url('../images/aditya-chinchure-494048-unsplash.jpg') no-repeat
    center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* #login, #loggedin {
  display: none;
} */




h1 {
  color: yellow;
  font-size: 40px;
 }




/* ////////////////////////////////////////////////////////////// */
 
 
 .container{
  width:80%;
  margin-left: auto; 
  margin-right: auto;
 }

 .nav-div {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#social-media-icon {
  height: 20px;
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: unset;
  flex: unset;
}

#soundcheck {
  text-align: center;
  font-family: 'Monoton', cursive;
  margin-bottom: 12px;
  
}

#sign-in {
  text-align: center;
  justify-content: center;
  background: rgba(215,218,244,0.8);
  border-radius: 30px 30px 30px 30px;
  padding: 20px;

}

#artist-search-form {
  text-align: center;
  justify-content: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


.show-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}